
.logo {
    font-family: "Lily Script One", sans-serif;
    text-decoration: none;
}
.mb-2 {
    color: rgb(12, 12, 12);
    font-size: 35px;
    font-family:"Signika", sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
}