* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background: white;
    justify-content: center;
    align-items: center;
    /*position: fixed;*/
    width: 100%;
}

.logo {

    margin-left: 5%;
    /* border: 1px solid red; */
    text-align: left;
}

.logo h1 {
    color: #0038FF;
    font-size: 30px;
}

.menu {
    flex: 80%;
    text-align: right;
    padding: 20px;
}

.menu a {
    color: #0038FF;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

#botao {
    background:#0038FF;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    /*margin-right: 10%;
    margin-left: 5%;*/
}


.header {
    display: flex;
    flex-flow: row wrap;
    background: white;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.headline {
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid black; */
}


.headline p {
    font-weight: 600;
    text-align: left;
}


.img-headline {
    margin-right: 5%;
    margin-left: 5%;
    flex: 40%;
    /* border: 1px solid red; */
    text-align: center;
}

.img {
    max-width: 100%;
}

.contact-btn {
    margin-top: 20px;
    display: inline-block;
    background: #0038FF;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    font-size: 20px;
}


section {
    display: inline-block;
    margin: 80px;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-right: 5px;
    padding: 5%;
    text-align: center;
    /* width: 90%; */
}

.bloco {
    display: flex;
}


.box {
    flex-basis: calc(33.33% - 10px);
    margin-right: 10px;
}

.box:last-child {
    margin-right: 0;
}

.imgbox {
    margin-left: 10px;
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 8px;
    margin: 5px;
}


.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #0038FF;
    border-radius: 10px;
}

.card-text {
    text-align: center;
}

footer {
    background: #5438FF;
    text-align: center;
}

.rodape {
    padding: 5px;
    margin-left: 15px;
}


.whats {
    position: fixed;
    bottom: 5px;
    right: 5px;
}